
@{
    ViewBag.Title = "Index";
}

<h2>Alumnos</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="alumnoCont">

            @*<table class="table table-bordered table-responsive">
                <thead>
                    <tr class="text-center">
                        <td>Editar</td>
                        <td class="hidden">IdAlumno</td>
                        <td>Nombre</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody id="tbodyAlumno">

                </tbody>
            </table>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>


    $(document).ready(function () {
        /////////////////////////////////

        var LlenarAlumnos = function () {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:6004/Alumno/GetAll',
                dataType: 'json',
                data: {},
                success: function (response) {
                    console.log(response);
                    $.each(response.Objects, function (indice) {
                        $('#alumnoCont').append(
                            "<div class='card col-lg-1' style='width: 18rem;  height:22rem; '>" +
                            "<img class='card-img-top' style='width: 100px; height:100px;' src=" +
                            "'/Imagenes/Icono.png'" +
                            "alt='Card image cap' >" + "<div class='card-body'>" +
                            "<h5 class='card-title'> <b>Nombre: </b>" +
                            response.Objects[indice].NombreAlumno + " " + response.Objects[indice].ApellidoPaterno +
                            " " + response.Objects[indice].ApellidoMaterno+ "</h5>" +
                            "<div class='card-text'> <b>Editar </b>" +
                            "<a class='btn btn-warning glyphicon glyphicon-edit' href='#' onclick='Editar(" + response.Objects[indice].IdAlumno + ")'> </a>" +
                            "<b>Eliminar </b>"+"<a class='btn btn-danger glyphicon glyphicon-trash' href='@@Url.Action('Delete', 'Alumno', new { 'IdAlumno' = alumno.IdAlumno })' onclick='return confirm(Estas seguro que deseas eliminar este registro?);'></a>"+
                            +
                            "</div>" + "</div>" + "</div >"
                        );
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        }




        LlenarAlumnos();
         /////////////////////////////////
    })

    function Editar(id) {
            //var valor = $(this).val();
        console.log(id);
        window.location.href = '@Url.Action("Form", "Alumno")?IdAlumno=' + id;
           // window.URL("/Alumno/Form/", new  id);

        }
</script>
