@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DigiPro</h1>
    <p class="lead">Examen práctico DigiPro</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumno</h2>
        <p>
            En este apartado se visualiza la informacion de los alumnos
        </p>
        <p><a class="btn btn-default" href="http://localhost:5627/Alumno/Index">Ir a Alumnos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materia</h2>
        <p>En este apartado se visualiza la informacion de las materias</p>
        <p><a class="btn btn-default" href="http://localhost:5627/Materia/Index">Ir a Materias &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alumno - Materia</h2>
        <p>En este apartado se visualiza la realacion de un alumno en particular con las materias que cursa</p>
        <p><a class="btn btn-default" href="http://localhost:5627/AlumnoMateria/Index">Ir a Alumno-Materia &raquo;</a></p>
    </div>
</div>